In [ ]:
import pandas as pd

In [ ]:
a=['congrats. you have won a lottery ticket and you can get the lottery amount by callin on this lottery number',
   'Give your bank details for lottery',
   'lottert for sure if bank details verified']

In [ ]:
type(a)

list

In [ ]:
# tokeization
a[0].split()

['congrats.',
 'you',
 'have',
 'won',
 'a',
 'lottery',
 'ticket',
 'and',
 'you',
 'can',
 'get',
 'the',
 'lottery',
 'amount',
 'by',
 'callin',
 'on',
 'this',
 'lottery',
 'number']

In [ ]:
a[1].split()

['Give', 'your', 'bank', 'details', 'for', 'lottery']

In [ ]:
a[2].split()

['lottert', 'for', 'sure', 'if', 'bank', 'details', 'verified']

In [ ]:
#count Vectorization-feature exraction technique
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
b=CountVectorizer(stop_words='english') #exclude all the stop words and gives rest of the words
b

CountVectorizer(stop_words='english')

In [ ]:
op=b.fit_transform(a).toarray()
op

array([[0, 1, 1, 0, 0, 3, 1, 0, 1, 0, 1],
       [1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0],
       [1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0]])

In [ ]:
df=pd.DataFrame(op,columns=b.get_feature_names())
df

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   bank  callin  congrats  details  ...  sure  ticket  verified  won
0     0       1         1        0  ...     0       1         0    1
1     1       0         0        1  ...     0       0         0    0
2     1       0         0        1  ...     1       0         1    0

[3 rows x 11 columns]

In [ ]:
df=pd.read_table('https://raw.githubusercontent.com/arib168/data/main/spam.tsv')

In [ ]:
df

     label                                            message  length  punct
0      ham  Go until jurong point, crazy.. Available only ...     111      9
1      ham                      Ok lar... Joking wif u oni...      29      6
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3      ham  U dun say so early hor... U c already then say...      49      6
4      ham  Nah I don't think he goes to usf, he lives aro...      61      2
...    ...                                                ...     ...    ...
5567  spam  This is the 2nd time we have tried 2 contact u...     160      8
5568   ham               Will ü b going to esplanade fr home?      36      1
5569   ham  Pity, * was in mood for that. So...any other s...      57      7
5570   ham  The guy did some bitching but I acted like i'd...     125      1
5571   ham                         Rofl. Its true to its name      26      1

[5572 rows x 4 columns]

In [ ]:
df.message[2]

"Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"

In [ ]:
df.message[1500]

'SMS. ac JSco: Energy is high, but u may not know where 2channel it. 2day ur leadership skills r strong. Psychic? Reply ANS w/question. End? Reply END JSCO'

In [ ]:
df.label[1500]

'spam'

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   label    5572 non-null   object
 1   message  5572 non-null   object
 2   length   5572 non-null   int64
 3   punct    5572 non-null   int64
dtypes: int64(2), object(2)
memory usage: 174.2+ KB

In [ ]:
df.label.value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [ ]:
x=df.message.values
y=df.label.values

In [ ]:

x

array(['Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...',
       'Ok lar... Joking wif u oni...',
       "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
       ..., 'Pity, * was in mood for that. So...any other suggestions?',
       "The guy did some bitching but I acted like i'd be interested in buying something else next week and he gave it to us for free",
       'Rofl. Its true to its name'], dtype=object)

In [ ]:
  y

array(['ham', 'ham', 'spam', ..., 'ham', 'ham', 'ham'], dtype=object)

In [ ]:
#train test split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)

In [ ]:
x.shape

(5572,)

In [ ]:
x_train.shape

(4179,)

In [ ]:
x_test.shape

(1393,)

In [ ]:
vect=CountVectorizer(stop_words='english')
#normalization
x_train_vect=vect.fit_transform(x_train)
x_test_vect=vect.transform(x_test)

In [ ]:
x_train_vect

<4179x7287 sparse matrix of type '<class 'numpy.int64'>'
	with 32656 stored elements in Compressed Sparse Row format>

In [ ]:
x_test_vect

<1393x7287 sparse matrix of type '<class 'numpy.int64'>'
	with 9628 stored elements in Compressed Sparse Row format>

In [ ]:
#using a classifier
#supportvector machine (SVC)
#naive bayes theorem(multinomialNB)

In [ ]:
from sklearn.svm import SVC
model=SVC()
model.fit(x_train_vect,y_train)

SVC()

In [ ]:
y_pred=model.predict(x_test_vect)

In [ ]:
y_pred

array(['ham', 'spam', 'ham', ..., 'ham', 'ham', 'ham'], dtype=object)

In [ ]:
y_test